.octomodal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    overflow-y: auto;
    transition: opacity .4s 0s ease-out;
    &-fix {
        min-height: 100%;
        position: relative;
        overflow-y: hidden;
    }
    &--open {
        opacity: 1;
        .octomodal__container {}
    }
    &--close {
        .octomodal__container {}
    }
    &--fade-in-scale {
        &.octomodal--open {
            .octomodal__container {
                animation-duration: .4s;
                animation-fill-mode: forwards;
                animation-name: fade-in-scale-open;
                animation-timing-function: ease-out;
            }
        }
        &.octomodal--close {
            .octomodal__container {
                animation-duration: .4s;
                animation-fill-mode: forwards;
                animation-name: fade-in-scale-close;
                animation-timing-function: ease-out;
            }
        }
    }
    &--slide-in-bottom {
        &.octomodal--open {
            .octomodal__container {
                animation-duration: .4s;
                animation-fill-mode: forwards;
                animation-name: slide-in-bottom-open;
                animation-timing-function: ease-out;
            }
        }
        &.octomodal--close {
            .octomodal__container {
                animation-duration: .4s;
                animation-fill-mode: forwards;
                animation-name: slide-in-bottom-close;
                animation-timing-function: ease-out;
            }
        }
    }
    &__wrapper {
        overflow: hidden;
        min-height: 100%;
        cursor: pointer;
    }
    &__container {
        width: 80%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background: #fff;
        cursor: default;
    }
    &__content {}
    &__close-button {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve"><path fill="#8c8c8c" d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z"></path><path fill="#8c8c8c" d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z"></path></svg>');
        cursor: pointer;
        &:hover {
            background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve"><path fill="#000" d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z"></path><path fill="#000" d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z"></path></svg>');
        }
    }

    @keyframes fade-in-scale-open {
        0% {
            opacity: 0;
            transform: scale3d(.8, .8, 1);
        }
        100% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }
    @keyframes fade-in-scale-close {
        0% {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
        100% {
            opacity: 0;
            transform: scale3d(.8, .8, 1);
        }
    }

    @keyframes slide-in-bottom-open {
        0% {
            opacity: 0;
            transform: translate3d(0, 20%, 0);
        }
        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes slide-in-bottom-close {
        0% {
            opacity: 1;
            transform: translate3d(0, 0, 0) ;
        }
        100% {
            opacity: 0;
            transform: translate3d(0, 20%, 0);
        }
    }
}