.octomodal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  overflow-y: auto;
  -webkit-transition: opacity 0.4s 0s ease-out;
          transition: opacity 0.4s 0s ease-out;
}
.octomodal-fix {
  overflow-y: hidden;
}
.octomodal--open {
  opacity: 1;
}
.octomodal--fade-in-scale.octomodal--open .octomodal__container {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: fade-in-scale-open;
          animation-name: fade-in-scale-open;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.octomodal--fade-in-scale.octomodal--close .octomodal__container {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: fade-in-scale-close;
          animation-name: fade-in-scale-close;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.octomodal--slide-in-bottom.octomodal--open .octomodal__container {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: slide-in-bottom-open;
          animation-name: slide-in-bottom-open;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.octomodal--slide-in-bottom.octomodal--close .octomodal__container {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: slide-in-bottom-close;
          animation-name: slide-in-bottom-close;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.octomodal__wrapper {
  overflow: hidden;
  min-height: 100vh;
  cursor: pointer;
}
.octomodal__container {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #fff;
  cursor: default;
}
.octomodal__close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve"><path fill="#8c8c8c" d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z"></path><path fill="#8c8c8c" d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z"></path></svg>');
  cursor: pointer;
}
.octomodal__close-button:hover {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve"><path fill="#000" d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z"></path><path fill="#000" d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z"></path></svg>');
}
@-webkit-keyframes fade-in-scale-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes fade-in-scale-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes fade-in-scale-close {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
  }
}
@keyframes fade-in-scale-close {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
  }
}
@-webkit-keyframes slide-in-bottom-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-in-bottom-open {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-in-bottom-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
@keyframes slide-in-bottom-close {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
